img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

body {
  background-color: red;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}